* {
  font-family: "Nunito", sans-serif;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-image: linear-gradient(to top left, #753682 0%, #bf2e34 100%);
  background-repeat: no-repeat;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 0px 15px;
}

main {
  position: relative;
  display: flex;
  max-width: 100rem;
  height: 60rem;
  background-color: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(200px);
  filter: blur();
  box-shadow: 0 3rem 5rem rgb(0 0 0 / 25%);
  border-radius: 9px;
}
.player {
  display: flex;
  padding: 9rem;
  flex: 50%;
  flex-direction: column;
  align-items: center;
  transition: all 0.75s;
}
.player:first-child {
  border-radius: 9px 0 0 9px;
}
.player:last-child {
  border-radius: 0 9px 9px 0;
}

.player--active {
  background-color: rgba(255, 255, 255, 0.4);
}

.name {
  position: relative;
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 2px;
  font-weight: 300;
  margin-bottom: 1rem;
}

.score {
  font-size: 8rem;
  color: #c7365f;
  margin-bottom: auto;
}

.current {
  background-color: #c7365f;
  opacity: 0.8;
  border-radius: 9px;
  color: #fff;
  width: 65%;
  padding: 2rem;
  text-align: center;
}

.current-label {
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-size: 1.7rem;
  color: #ddd;
}

.current-score {
  font-size: 3.5rem;
}

.dice {
  width: 10rem;
  height: 10rem;
  position: absolute;
  left: 50%;
  top: 16.5rem;
  transform: translateX(-50%);
  box-shadow: 0 2rem 5rem rgb(0 0 0 / 20%);
}

.btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #444;
  background: none;
  border: none;
  font-size: 1.8rem;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 400;
  transition: all 0.2s;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);
  padding: 0.7rem 2.5rem;
  border-radius: 50rem;
  box-shadow: 0 1.75rem 3.5rem rgb(0 0 0 / 10%);
}

.btn:focus {
  background-color: white;
  outline: none;
  box-shadow: 0 1.75rem 3.5rem rgb(0 0 0 / 20%);
}

.btn:active {
  transform: translate(-50%, 3px);
  box-shadow: 0 1.75rem 3.5rem rgb(0 0 0 / 40%);
}

.btn--new {
  top: 4rem;
}

.btn--roll {
  top: 39.3rem;
}

.btn--hold {
  top: 46.1rem;
}

.btn-show-modal {
  top: 50%;
}

.btn-active {
  transform: translate(-50%, 3px);
  box-shadow: 0 1rem 2rem rgb(0 0 0 / 15%);
}

.player--winner {
  background-color: #2f2f2f;
}

.player--winner .name {
  font-weight: 700;
  color: #c7365f;
}

.hidden {
  display: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  background-color: white;
  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgb(0 0 0 / 30%);
  z-index: 10;
}

.modal p {
  line-height: 2;
}

.close-modal {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 5rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  text-align: center;
}

p {
  font-size: 1.8rem;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

/* mobile */

@keyframes blink {
  0% {
    background-color: rgba(255, 255, 255, 0.4);
  }
  50% {
    background-color: rgba(255, 255, 255, 0.8);
  }
  100% {
    background-color: rgba(255, 255, 255, 0.4);
  }
}

@keyframes playerNameBlink {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}

@media (max-width: 700px) {
  .player {
    padding-top: 4rem;
  }
  .player.player--active {
    animation: blink 600ms ease-in-out;
  }
  .player.player--active .name {
    animation: playerNameBlink 600ms ease-in-out;
  }

  .player:first-of-type,
  .player:last-of-type {
    border-radius: 9px;
  }

  .dice {
    top: 23rem;
  }

  .player:not(.player--active) {
    display: none;
  }
  html {
    font-size: 8px;
  }

  .btn {
    transform: none;
  }

  .btn--roll,
  .btn--hold {
    top: auto;
    bottom: 2rem;
  }

  .btn--new,
  .btn-show-modal {
    top: -6rem;
  }

  .btn--new {
    left: 0;
  }

  .btn-show-modal {
    left: auto;
    right: 0;
  }

  .btn--roll {
    left: 2rem;
  }

  .btn--hold {
    left: auto;
    right: 2rem;
  }

  .btn:active {
    transform: translate(0, 3px);
  }
  p {
    font-size: 14px;
  }
  .modal {
    width: 80%;
    padding: 6rem 4rem;
  }
}
