* {
  font-family: "Nunito", sans-serif;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-image: linear-gradient(to top left, #753682 0%, #bf2e34 100%);
  background-repeat: no-repeat;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

main {
  position: relative;
  display: flex;
  width: 100rem;
  height: 60rem;
  background-color: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(200px);
  filter: blur();
  box-shadow: 0 3rem 5rem rgb(0 0 0 / 25%);
  border-radius: 9px;
  overflow: hidden;
}
.player {
  display: flex;
  padding: 9rem;
  flex: 50%;
  flex-direction: column;
  align-items: center;
  transition: all 0.75s;
}

.player--active {
  background-color: rgba(255, 255, 255, 0.4);
}

.name {
  position: relative;
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 2px;
  font-weight: 300;
  margin-bottom: 1rem;
}

.score {
  font-size: 8rem;
  color: #c7365f;
  margin-bottom: auto;
}

.current {
  background-color: #c7365f;
  opacity: 0.8;
  border-radius: 9px;
  color: #fff;
  width: 65%;
  padding: 2rem;
  text-align: center;
}

.current-label {
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-size: 1.7rem;
  color: #ddd;
}

.current-score {
  font-size: 3.5rem;
}

.dice {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 50%;
  top: 16.5rem;
  transform: translateX(-50%);
  box-shadow: 0 2rem 5rem rgb(0 0 0 / 20%);
}

.btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #444;
  background: none;
  border: none;
  font-size: 1.8rem;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 400;
  transition: all 0.2s;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);
  padding: 0.7rem 2.5rem;
  border-radius: 50rem;
  box-shadow: 0 1.75rem 3.5rem rgb(0 0 0 / 10%);
}

.btn:focus {
  background-color: white;
  outline: none;
  box-shadow: 0 1.75rem 3.5rem rgb(0 0 0 / 20%);
}

.btn:active {
  transform: translate(-50%, 3px);
  box-shadow: 0 1.75rem 3.5rem rgb(0 0 0 / 40%);
}

.btn--new {
  top: 4rem;
}

.btn--roll {
  top: 39.3rem;
}

.btn--hold {
  top: 46.1rem;
}

.btn-active {
  transform: translate(-50%, 3px);
  box-shadow: 0 1rem 2rem rgb(0 0 0 / 15%);
}

.player--winner {
  background-color: #2f2f2f;
}

.player--winner .name {
  font-weight: 700;
  color: #c7365f;
}

.hidden {
  display: none;
}
